{% extends 'base.html' %}
<title>Language Learning Is Fun</title>

{% block body %}
  <div class="container">
    <h2>Sign-in</h2>
        <div class = "UserInfo">
        <strong >Username:</strong>
        <input type="text" id="uname" name="fname"><br><br>
    </div>
       <div class = "UserInfo">
        <strong >Password:</strong>
        <input type="text" id="pname" name="fname"><br><br>
    </div>
       <input type='submit' value='Sign-In' />
        <a href="http://127.0.0.1:8000/">
        <strong class = "user">Home</strong>
    </a>

  </div>

{% endblock %}