{% extends 'base.html' %}
{% load static %}


{% block content %}
<head xmlns="http://www.w3.org/1999/html"><link rel="stylesheet" href="{% static 'CSS/profile_style.css' %}"></head>
<title>Language Learning Is Fun</title>

  <div class="container">
      <div class = "UserInfo">
          <h2>Sign-in</h2>
        <strong >Username:</strong>
        <input type="text" id="uname" name="fname"><br><br>
          <strong >Password:</strong>
        <input type="text" id="pname" name="fname"><br><br>
      </div>

      <div class = "UserInfo">
        <input type='submit' value='Sign-In' />
      </div>
  </div>

{% endblock %}