{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="style.css"/>
<body style="background-color: rgb(48, 48, 48)">
    <link rel="stylesheet"
    href="style.css"/>
    <h1>
    Lingopathy
    </h1>
    <p>Forum for easy access to language teachers, native speakers
    and students alike.
    </p>
<div class = "profile">
    {% if user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

        <a href="signup">
        <strong class = "user">Sign-Up</strong>
    </a>




</div>
<h3 class = "title">Forums:</h3>
<div class="Forums">
<a href="spanish"><h3 class="forum">Espanol</h3></a>
<a href="english"><h3 class="forum" >English</h3></a>
<a href="japanese"><h3 class="forum">Japanese</h3></a>
</div>


</body>
{% endblock %}