{% extends 'base.html' %}
{% load static %}


{% block content %}
<head xmlns="http://www.w3.org/1999/html"><link rel="stylesheet" href="{% static 'CSS/hstyle.css' %}"></head>
<body>
    <div class="menu-bar">
<ul>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Forums</a>
        <div class="sub-menu1">

            <ul>
                <li><a href="english">English</a> </li>
                <li><a href="spanish/">Spanish</a> </li>
                <li><a href="japanese/">Japanese</a> </li>
            </ul>
        </div>

    </li>
    <li><a href="#">Contact</a></li>
    <li><a href="create">Create Profile</a></li>
    <li><a href="{% url 'sign' %}">Sign In</a></li>
    <li><a href="{% url 'signup' %}">Sign-Up</a></li>

</ul>
        	<div class="center">
			<h1>Forum for easy access to language teachers,</h1>
			<h2>native speakers and students alike.</h2>

		</div>
</div>py


</body>
{% endblock %}