{% extends 'base.html' %}
{% load static %}


{% block content %}
<head xmlns="http://www.w3.org/1999/html"><link rel="stylesheet" href="{% static 'CSS/style.css' %}"></head>
<body style="background-color: rgb(48, 48, 48)">
    <h1>
    Lingopathy
    </h1>
<div class = "profile">

    <a href="{% url 'sign' %}">
        <strong class = "user">Sign In</strong>
    </a>
    <a href="create">
        <strong class = "user">Create a profile</strong>
    </a>
        <a href="signup">
        <strong class = "user">Sign-Up</strong>
    </a>
    <p>Forum for easy access to language teachers, native speakers
    and students alike.
    </p>
</div>
<h3 class = "title">Forums:</h3>
<div class="Forums">
<a href="spanish"><h3 class="forum">Espanol</h3></a>
<a href="english"><h3 class="forum" >English</h3></a>
<a href="japanese"><h3 class="forum">Japanese</h3></a>
</div>


</body>
{% endblock %}