
{% block content %}
<style>
    body{
        background-color: grey;
        background-image: linear-gradient(rgb(23, 157, 216), grey);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .post{
        text-align:center;
    }
    .post > p{
        font-size: 23px;
        font-family: "Times New Roman", Times, serif;
        margin: auto;
        width: 50%;
        border: solid blue;
        border-style: inset;
        padding: 10px;
    }
    .comments{}
</style>
<body>
<div class="post">
    <h1 class="title">{{ post.title }}</h1>


    <em><strong>{{ post.intro }}</strong></em>

    <p>{{ post.body }}</p>
</div>
<br/>

    <hr>
<div class="comments">
    <h2 class="subtitle">Comments</h2>

    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
                        <br>
                        {{ comment.body }}
                    </p>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="notification">
            <p>No comments yet!</p>
        </div>
    {% endfor %}


    <h2 class="subtitle">Add comment</h2>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
</div>
<small>Posted at {{ post.date_added }}</small>
</body>
{% endblock %}
