{%  extends 'base.html' %}

{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'CSS/signup.css' %}">
{% endblock %}

{% block body %}
<body>
   <div class="wrapper">
     <div class="title">
       Registration Form
     </div>
     <div class="form">
         <form method="post" novalidate>
              {% csrf_token %}
              {{ user_form.as_p }}
                {{ profile_form.as_p }}

              <input type="submit" name="" value="Create an account">
             <div class="card-footer text-muted text-center">
            Already have an account?
          </div>
             <a href="{% url 'login' %}">Log In</a>
         </form>
     </div>
   </div>
</body>
{% endblock %}